# MySQLサーバーへの設定
[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files

pid-file=/var/run/mysqld/mysqld.pid

# 文字コード/照合順序の設定
character_set_server = utf8
collation_server = utf8_general_ci

# mysql5.7との互換性確保(デフォルト認証プラグインの設定)
default_authentication_plugin=mysql_native_password

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# エラーログの設定
log-error = mysql-error.log

# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# 実行ログの設定
general_log = 1
general_log_file = mysql-general.log


# mysqlオプションの設定
[mysql]
default-character-set = utf8


# mysqlクライアントツールの設定
[client]
default-character-set = utf8